body{
    font-family: "Outfit", sans-serif;
    background-color:  hsl(212, 45%, 89%);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    height: 600px;
    width: 400px;
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
    background-color: white;
}

.card{
    border-radius: 25px;
    width: 400px;
    height: 600;
    padding: 20px;
    text-align: center;    
}

.card img{
    border-radius: 25px;
    width: 350px;
    height: 350px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.conteudo h1{
    font-weight: bold;
    padding-block: 5%;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 0;
}

.conteudo p{
    padding-bottom: 15%;
    color: grey;
    font-size: 18px;
    margin: 10px 5px;
}


