body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card-qr-code{
    background-color: white;
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img{
    border-radius: 10px;
    width: 250px;
    margin: 0 auto;
}

h1{
    font-weight: bold;
    padding-block: 5%;
}

p{
    padding-bottom: 15%;
}

#attribution{
    background-color: white;
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
